
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <!--<class name="org.base.qa.BaseTest"/>-->
      <class name="org.tests.qa.RegisterTest"/>
      <class name="org.tests.qa.LoginTest"/>
      <class name="org.tests.qa.SearchProductTest"/>
      <class name="org.tests.qa.ProductDetailsTest"/>
      <class name="org.tests.qa.CartTest"/>
      <class name="org.tests.qa.CheckoutTest"/>
      <class name="org.tests.qa.WishlistTest"/>
      <class name="org.tests.qa.OrderTest"/>
      <class name="org.tests.qa.CouponTest"/>
      <class name="org.tests.qa.CompareProductTest"/>
      <class name="org.tests.qa.PriceFilterTest"/>
      <class name="org.tests.qa.MyAccountTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
